body {
    background-color: rgb(205, 99, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../resources/SL-030722-49030-02.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: fit-content;
}

#search-main-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* MOBILE NAVBAR */
#mobile-navbar {
    display: none;
}
#side-nav-logo {
    width: fit-content;
    font-size: 30px;
    color: rgb(49, 21, 0);
    white-space: nowrap;
    margin: 0;
    margin-top: 0;
    margin-bottom: 5px;
}
#side-nav-exit-btn {
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.556);
    border: none;
    padding-top: 5px;
    background-color: rgba(0, 0, 0, 0);
}
#side-nav-exit-btn:hover {
    cursor: pointer;
    color: rgba(255, 0, 0, 0.689);
}
/* SEARCHBAR */
#searchbar-container {
    border-radius: 10px;
    width: 100%;
    height: 55px;
    background-color: rgb(255, 123, 0);
    box-shadow: 0px 3px 10px black;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}
h1 {
    margin-top: 10px;
    margin-left: 4%;
    margin-bottom: 0;
    width: 82.5%;
    color: rgba(0, 0, 0, 0.272);
}
#web-logo {
    width: 40%;
    text-align: center;
    margin-left: 30%;
    font-size: 30px;
    color: rgb(49, 21, 0);
    white-space: nowrap;
    display: flex;
    justify-content: center;
}
#phone-logo {
    font-size: 30px;
    color: rgb(49, 21, 0);
    display: none;
}
#icon-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
#dropdown-menu-icon {
    width: 40px;
    height: 40px;
}
.nav-icons {
    width: 33px;
    height: 33px;
    margin-left: 0;
    display: none;
    opacity: 75%;
}
.nav-icons:hover {
    scale: 1.1;
    opacity: 100%;
    cursor: pointer;
}
#web-navbar {
    width: 78.5%;
}
#menu-options-cont {
    border-bottom: 3px solid rgba(0, 0, 0, 0.167);
    border-top: 3px solid rgba(0, 0, 0, 0.167);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}
#dropdown-menu-opts-cont {
    list-style: none;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    margin: 0;
    z-index: 999;
    border-radius: 5px;
    background-color: rgba(255, 166, 0, 0.273);
    backdrop-filter: blur(10px);
    box-shadow: -15px 0 10px rgba(0, 0, 0, 0.31);
}
/* WEB NAVBAR */
.web-menu-items {
    font-size: 18px;
    font-weight: bold;
    opacity: 50%;
}
.phone-menu-items {
    border-bottom: 3px solid rgba(0, 0, 0, 0.429);
    width: 100%;
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
#login-page-btn {
    border: none;
    font-size: 22px;
    color: rgba(53, 34, 1, 0.796);
    background-color: rgba(0, 0, 0, 0);
}
#web-login-page-btn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
.phone-menu-items:hover {
    background-color: rgba(247, 119, 0, 0.332);
    cursor: pointer;
}
a:hover {
    color: black;
}
a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.613);
}
/* MAIN WINDOW */
#main-window-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* SIGN UP SECTION */
#title-signup-container {
    border-radius: 5px;
    width: 73.4%;
    margin-top: 10px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgba(255, 213, 134, 0.565);
    backdrop-filter: blur(5px);
}
.landing-page-titles {
    margin: 0;
    text-align: center;
    font-size: 30px;
    color: rgba(47, 30, 0, 0.754);
}
.landing-page-hook-text {
    margin: 0;
    text-align: center;
    width: 99%;
    color: rgb(70, 46, 0);
}
.signup-btns {
    width: 50%;
    height: 30px;
    margin-left: 25%;
    border: none;
    font-size: 17px;
    margin-top: 10px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.461);
    background-color: rgba(222, 145, 2, 0.565);
}
.signup-btns:hover {
    cursor: pointer;
    scale: 1.05;
    color: white;
    background-color: rgb(233, 151, 0);
}
/* FEATURES SECTION */
#features-container {
    border-radius: 5px;
    margin-top: 10px;
    width: 73.4%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 213, 134, 0.565);
    height: fit-content;
}
.landing-page-icons {
    width: 40px;
    height: 40px;
    opacity: 70%;
}
#features-icons-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    width: 20%;
    height: 37vh;
    border: 2px solid rgba(0, 0, 0, 0);
    padding-right: 10px;
    margin-left: 11%;
}
#features-titles-and-descrips-cont {
    width: 40%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 10px;
}
.features-titles {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: rgba(47, 30, 0, 0.85);
}
.features-descriptions {
    margin: 0;
    margin-bottom: 17.5px;
    color: rgba(47, 30, 0, 0.754);
}
/* REPORTS OVERVIEW SECTION */
#reports-section-container {
    width: 73.4%;
    height: fit-content;
    margin-top: 10px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgba(255, 213, 134, 0.565);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
#bar-graph-container {
    height: 25vh;
    width: 50%;
    margin-bottom: 10px;
}
canvas {
    height: 25vh;
}
#get-started-title {
    margin-top: 10px;
}
#freelancer-signup-btn2 {
    margin: 0;
}

#signup-popup-page {
    width: 40%;
    height: fit-content;
    margin-top: 10px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 1%;
    padding-bottom: 5%;
    background-color: rgba(255, 213, 134, 0.873);
    border-radius: 5px;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 9999;
    position: fixed;
    top: 10vh;
}
#exit-signup-popup {
    margin-left: auto;
    padding: 0;
    font-size: 18px;
    border: none;
    font-weight: bold;
    color: rgba(89, 58, 1, 0.892);
    background-color: rgba(0, 0, 0, 0);
}
#exit-signup-popup:hover {
    color: rgba(192, 2, 2, 0.894);
    scale: 1.05;
    cursor: pointer;
}
.signup-titles {
    font-weight: bold;
    color: rgba(92, 60, 0, 0.765);
}
.signup-inputs {
    margin-bottom: 10px;
    height: 25px;
    width: 70%;
    border-radius: 5px;
    border: none;
    outline: none;
    text-align: center;
    background-color: rgb(255, 188, 62);
}
#signup-disclosure {
    text-align: center;
    font-size: 13px;
    margin: 0;
    margin-bottom: 5px;
    opacity: 50%;
}
#signup-disclosure:hover {
    opacity: 100%;
}
#create-account-btn {
    width: 55%;
    height: 25px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.53);
    background-color: rgba(237, 154, 0, 0.707);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.175);
}
#create-account-btn:hover {
    color: white;
    background-color: orange;
    scale: 1.05;
    cursor: pointer;
}

#login-popup-page {
    width: 40%;
    height: fit-content;
    margin-top: 10px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 1%;
    padding-bottom: 5%;
    background-color: rgba(255, 213, 134, 0.873);
    border-radius: 5px;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 9999;
    position: fixed;
    top: 10vh;
}
#exit-login-popup {

    margin-left: auto;
    padding: 0;
    font-size: 18px;
    border: none;
    font-weight: bold;
    color: rgba(89, 58, 1, 0.892);
    background-color: rgba(0, 0, 0, 0);
}
#exit-login-popup:hover {
    color: rgba(192, 2, 2, 0.894);
    scale: 1.05;
    cursor: pointer;
}
#login-btn {
    width: 55%;
    height: 25px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.53);
    background-color: rgba(237, 154, 0, 0.707);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.175);
}
#login-btn:hover {
    color: white;
    background-color: orange;
    scale: 1.05;
    cursor: pointer;
}


#alert-container {
    width: 50%;
    height: 20%;
    z-index: 9999;
    position: fixed;
    top: 25%;
    border-radius: 5px;
    background-color: rgba(255, 166, 0, 0.559);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.81);
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
#alert-title {
    margin: 0;
    margin-top: 5px;
}
.delete-alert-titles {
    margin: 0;
}
/* RESPONSIVE CSS FOR UP TO IPAD SIZE */
@media screen and (max-width: 1024px) {
    h1 {
        width: 100%;
    }
    #icon-container {
        margin-left: auto;
        padding: 0;
    }
    .nav-icons {
        display: block;
        margin-left: 10%;
    }
    #web-navbar {
        display: none;
    }
    .phone-menu-items {
        height: 65px;
        font-size: 25px;
    }
    #title-signup-container {
        width: 91%;  
    }
    #features-container {
        width: 91%;  
    }
    #features-icons-container {
        margin-left: 0;
        height: 39vh;
        width: fit-content;
        padding-top: 2.5%;
        padding-bottom: 2.5%;
    }
    #features-titles-and-descrips-cont {
        height: fit-content;
        width: fit-content;

    }
    #reports-section-container {
        width: 91%;
    }
    #bar-graph-container {
        height: 85%;
        width: 100%;
    }
    #signup-popup-page {
        width: 90%;
    }
}
/* RESPONSIVE CSS FOR PHONES */
@media screen and (max-width: 440px) {
    #search-main-container {
        margin-left: 1%;
    }
    #features-icons-container {
        height: 42vh;

    }
    .features-descriptions {
        margin: 0;
        margin-bottom: 20px;
    }
}